<div class="col col-lg-8 mb-3">
    <div class="overlay-card" style="background-image: url({{ include.image  }});">
        <div class="overlay-body gap-3">
            {% if include.disable_overlay  %}
            
            {% else %}
                <a href="{{ include.image }}" data-fslightbox="gallery-2" type="button"
                    class="btn-outline-circle p-0">
                    <i class="fa-solid fa-eye"></i>
                </a>
            {% endif %}
            {% if include.title %}
                <h5 class="text-white fw-semibold font-2">{{ include.title }}</h5>
            {% endif %}
            {% if include.url %}
                <div>
                    <a href=" {{ include.url   }}" type="button" class="btn rounded-0 btn-accent-light fw-bold font-2">{% t latest_projects.more_button %}</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>