<div class="r-container">
    <div class="row row-cols-1 row-cols-lg-2">
        <div class="col mb-3">
            <div class="d-flex flex-column gap-3">
                <h5 class="accent-color font-1 fw-semibold">{% t contact_us.contact_us %}</h5>
                <h3 class="font-2 fw-semibold">{% t contact_us.have_a_question %}</h3>
                <div class="d-flex flex-lg-row flex-column gap-4">
                    <div class="d-flex flex-row gap-3 align-items-center">
                        <i class="fa-solid fa-phone accent-color fs-4"></i>
                        <span class="text-gray fs-5">{{ site.ua_phone_number }}</span>
                    </div>
                    <div class="d-flex flex-row gap-3 align-items-center">
                        <i class="fa-solid fa-envelop`e accent-color fs-4"></i>
                        <span class="text-gray fs-5">{{ site.email }}</span>
                    </div>
                </div>
                {% if site.eu_phone_number != ""  %}
                    <div class="d-flex flex-lg-row flex-column gap-4">
                        <div class="d-flex flex-row gap-3 align-items-center">
                            <i class="fa-solid fa-phone accent-color fs-4"></i>
                            <span class="text-gray fs-5">{{ site.eu_phone_number }}</span>
                        </div>
                    </div>
                {% endif %}

                <p class="text-gray font-2">
                    {% t contact_us.description %}
                </p>
                <iframe loading="lazy" class="maps shadow shadow-lg"
                    src="https://maps.google.com/maps?q=HALL+DESIGN&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=near"
                    title="Hall Design, IQ Center, Khmelnytskyi"
                    aria-label="Hall Design, IQ Center, Khmelnytskyi"></iframe>
            </div>
        </div>
        <div class="col mb-3">
            <div class="h-100 d-flex flex-column p-lg-5">
                <div class="success_msg toast align-items-center w-100 shadow-none mb-3 bg-transparent border border-success rounded-0 my-4"
                    role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex p-2">
                        <div class="toast-body f-18 d-flex flex-row gap-3 align-items-center text-success">
                            <i class="fa-solid fa-check f-36 text-success"></i>
                            {% t contact_us.message_sent %}
                        </div>
                        <button type="button"
                            class="me-2 m-auto bg-transparent border-0 ps-1 pe-0 text-success"
                            data-bs-dismiss="toast" aria-label="Close"><i
                                class="fa-solid fa-xmark"></i></button>
                    </div>
                </div>
                <div class="error_msg toast align-items-center w-100 shadow-none border-danger mb-3 bg-transparent my-4 border rounded-0"
                    role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex p-2">
                        <div class="toast-body f-18 d-flex flex-row gap-3 align-items-center text-danger">
                            <i class="fa-solid fa-triangle-exclamation f-36 text-danger"></i>
                            {% t contact_us.form.error %}
                        </div>
                        <button type="button"
                            class="me-2 m-auto bg-transparent border-0 ps-1 pe-0 text-danger"
                            data-bs-dismiss="toast" aria-label="Close"><i
                                class="fa-solid fa-xmark"></i></button>
                    </div>
                </div>
                <form action=""
                    class="d-flex flex-column h-100 justify-content-center w-100 needs-validation mb-3 form px-lg-5"
                    novalidate>
                    <div class="mb-3">
                        <input type="text" class="form-control py-2 px-4" name="name" id="name"
                            placeholder="{% t contact_us.form.name %}" required>
                        <div class="invalid-feedback">
                            {% t contact_us.form.required %}
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="number" class="form-control py-2 px-4" name="phone" id="phone"
                            placeholder="{% t contact_us.form.phone %}" required>
                        <div class="invalid-feedback">
                            {% t contact_us.form.required %}
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="number" class="form-control py-2 px-4" name="square" id="square"
                            placeholder="{% t contact_us.form.square %}">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control py-2 px-4" id="message" name="message" rows="5"
                            placeholder="{% t contact_us.form.message %}"></textarea>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn rounded-0 submit_form font-1 py-3">
                            {% t contact_us.form.submit %}
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
