<section class="section bg-dark-color py-5">
    <div class="r-container">
        <div class="row row-cols-1 row-cols-lg-2 text-center text-lg-start">
            <div class="col col-lg-7">
                <h4 class="text-white">{% t cta.title %}</h4>
            </div>
            <div class="col col-lg-5">
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="contact.html" type="button" class="btn btn-accent-light font-1 fw-semibold rounded-0">{% t cta.button %}</a>
                </div>
            </div>
        </div>
    </div>
</section>