    <!-- Header -->
    <section class="bg-dark-color py-4 border-bottom border-dark-gray font-1">
        <div class="r-container">
            <div
                class="d-flex flex-lg-row flex-column align-items-center justify-content-lg-between justify-content-center gap-3">
                <div class="d-flex flex-lg-row flex-column align-items-center gap-3">
                    <div class="d-flex flex-row gap-3  align-items-center">
                        <i class="fa-solid fa-location-dot accent-color fs-4"></i>
                        <span class="text-white">123th Roundstreet, Pekanbaru.</span>
                    </div>
                    <div class="d-flex flex-row gap-3  align-items-center">
                        <i class="fa-solid fa-phone accent-color fs-4"></i>
                        <span class="text-white">000 123 456 789</span>
                    </div>
                </div>
                <div class="d-flex flex-row gap-3  align-items-center">
                    <i class="fa-solid fa-clock accent-color fs-4"></i>
                    <span class="text-white">Opening : Mon-Fri 08:00 - 17:00</span>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-dark-color font-2 sticky-top">
        <div class="r-container">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand logo-container" href="index.html">
                        <img src="image/logo.png" alt="" class="img-fluid">
                    </a>
                    <button class="navbar-toggler accent-color" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa-solid fa-bars-staggered"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-lg-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="index.html">HOME</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    ABOUT
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="about_us.html">ABOUT US</a></li>
                                    <li><a class="dropdown-item" href="history.html">HISTORY</a></li>
                                    <li><a class="dropdown-item" href="team.html">OUR TEAM</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    SERVICES
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="services.html">SERVICES</a></li>
                                    <li><a class="dropdown-item" href="pricing.html">PRICING</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    PAGES
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="project.html">PROJECT</a></li>
                                    <li><a class="dropdown-item" href="project_detail.html">PROJECT DETAIL</a></li>
                                    <li><a class="dropdown-item" href="faq.html">FAQ</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">CONTACT</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <!-- End Of Header -->