
<section class="section background-3">
    <div class="r-container">
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col mb-3">
                <div class="d-flex flex-column gap-3">
                    <h5 class="accent-color font-1 fw-semibold">{% t our_testimonial.subtitle %}</h5>
                    <h4 class="text-black font-2 fw-semibold">{% t our_testimonial.title %}</h4>
                    <p class="text-gray font-1">
                        {% t our_testimonial.description %}
                    </p>
                    <div class="w-100 overflow-hidden">
                        <!-- Slider main container -->
                        <div class="swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                {% assign size = site.feedbacks | size %}
                                {% assign half_size = size | divided_by: 2 | ceil | %}
                                {% for feedback in site.feedbacks limit: half_size %}
                                    <div class="swiper-slide">
                                        <div class="bg-white p-5">
                                            <div class="row">
                                                <div class="col mb-3">
                                                    <div class="d-flex flex-column justify-content-center h-100">
                                                        <p class="text-gray font-2">
                                                            {{ feedback.content | | markdownify  }}
                                                        </p>
                                                        <div class="divider mb-4"></div>
                                                        <div class="d-flex flex-column">
                                                            <h5 class="lh-1 m-0">{{ feedback.name }}</h5>
                                                            <span class="text-gray">{{ feedback.description }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col mb-3">
                                                    <img src="{{ feedback.image }}" alt="{{ feedback.description }}" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                            <!-- If we need pagination -->
                            <!-- <div class="swiper-pagination"></div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="d-flex flex-column gap-3">
                    <div class="w-100 overflow-hidden">
                        <!-- Slider main container -->
                        <div class="swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->

                                {% for feedback in site.feedbacks offset: half_size %}
                                    <div class="swiper-slide">
                                        <div class="bg-white p-5">
                                            <div class="row">
                                                <div class="col mb-3">
                                                    <div class="d-flex flex-column justify-content-center h-100">
                                                        <p class="text-gray font-2">
                                                            {{ feedback.content | | markdownify  }}
                                                        </p>
                                                        <div class="divider mb-4"></div>
                                                        <div class="d-flex flex-column">
                                                            <h5 class="lh-1 m-0">{{ feedback.name }}</h5>
                                                            <span class="text-gray">{{ feedback.description }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col mb-3">
                                                    <img src="{{ feedback.image }}" alt="{{ feedback.description }}" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                
                            </div>
                            <!-- If we need pagination -->
                            <!-- <div class="swiper-pagination"></div> -->
                        </div>
                    </div>
                    <div class="d-flex flex-column gap-3">
                        <h6 class="font-1">{% t our_testimonial.partners %}</h6>
                        <div class="w-100 overflow-hidden">
                            <!-- Slider main container -->
                            <div class="swiper-partner">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Slides -->
                                    {% assign image_files = site.static_files | where: "partners", true %}
                                    {% for image in image_files %}
                                      <div class="swiper-slide"><img src="{{ image.path }}" alt="{{ image.name }}" class="img-fluid"></div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                        <p class="text-gray">
                            {% t our_testimonial.partners_text %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
