
<section class="section background-3">
    <div class="r-container">
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col mb-3">
                <div class="d-flex flex-column gap-3">
                    <h5 class="accent-color font-1 fw-semibold">{% t our_testimonial.subtitle %}</h5>
                    <h4 class="text-black font-2 fw-semibold">{% t our_testimonial.title %}</h4>
                    <p class="text-gray font-1">
                        {% t our_testimonial.description %}
                    </p>
                    <div class="w-100 overflow-hidden">
                        <!-- Slider main container -->
                        <div class="swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <div class="bg-white p-5">
                                        <div class="row">
                                            <div class="col mb-3">
                                                <div class="d-flex flex-column justify-content-center h-100">
                                                    <p class="text-gray font-2">
                                                        " Curabitur a orci vel diam interdum hendrerit commodo
                                                        in mi "
                                                    </p>
                                                    <div class="divider mb-4"></div>
                                                    <div class="d-flex flex-column">
                                                        <h5 class="lh-1 m-0">TYAS WIDAGDO</h5>
                                                        <span class="text-gray">Desination</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col mb-3">
                                                <img src="image/dummy-img-400x400.jpg" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="bg-white p-5">
                                        <div class="row">
                                            <div class="col mb-3">
                                                <div class="d-flex flex-column justify-content-center h-100">
                                                    <p class="text-gray font-2">
                                                        " Curabitur a orci vel diam interdum hendrerit commodo
                                                        in mi "
                                                    </p>
                                                    <div class="divider mb-4"></div>
                                                    <div class="d-flex flex-column">
                                                        <h5 class="lh-1 m-0">ELSA VERINA</h5>
                                                        <span class="text-gray">Desination</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col mb-3">
                                                <img src="image/dummy-img-400x400.jpg" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="bg-white p-5">
                                        <div class="row">
                                            <div class="col mb-3">
                                                <div class="d-flex flex-column justify-content-center h-100">
                                                    <p class="text-gray font-2">
                                                        " Curabitur a orci vel diam interdum hendrerit commodo
                                                        in mi "
                                                    </p>
                                                    <div class="divider mb-4"></div>
                                                    <div class="d-flex flex-column">
                                                        <h5 class="lh-1 m-0">WIDHI YUGO</h5>
                                                        <span class="text-gray">Desination</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col mb-3">
                                                <img src="image/dummy-img-400x400.jpg" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                ...
                            </div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="d-flex flex-column gap-3">
                    <div class="w-100 overflow-hidden">
                        <!-- Slider main container -->
                        <div class="swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <div class="bg-white p-5">
                                        <div class="row">
                                            <div class="col mb-3">
                                                <div class="d-flex flex-column justify-content-center h-100">
                                                    <p class="text-gray font-2">
                                                        " Curabitur a orci vel diam interdum hendrerit commodo
                                                        in mi "
                                                    </p>
                                                    <div class="divider mb-4"></div>
                                                    <div class="d-flex flex-column">
                                                        <h5 class="lh-1 m-0">KEAN BERLIN</h5>
                                                        <span class="text-gray">Desination</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col mb-3">
                                                <img src="image/dummy-img-400x400.jpg" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="bg-white p-5">
                                        <div class="row">
                                            <div class="col mb-3">
                                                <div class="d-flex flex-column justify-content-center h-100">
                                                    <p class="text-gray font-2">
                                                        " Curabitur a orci vel diam interdum hendrerit commodo
                                                        in mi "
                                                    </p>
                                                    <div class="divider mb-4"></div>
                                                    <div class="d-flex flex-column">
                                                        <h5 class="lh-1 m-0">ELSA VERINA</h5>
                                                        <span class="text-gray">Desination</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col mb-3">
                                                <img src="image/dummy-img-400x400.jpg" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="bg-white p-5">
                                        <div class="row">
                                            <div class="col mb-3">
                                                <div class="d-flex flex-column justify-content-center h-100">
                                                    <p class="text-gray font-2">
                                                        " Curabitur a orci vel diam interdum hendrerit commodo
                                                        in mi "
                                                    </p>
                                                    <div class="divider mb-4"></div>
                                                    <div class="d-flex flex-column">
                                                        <h5 class="lh-1 m-0">WIDHI YUGO</h5>
                                                        <span class="text-gray">Desination</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col mb-3">
                                                <img src="image/dummy-img-400x400.jpg" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                ...
                            </div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="d-flex flex-column gap-3">
                        <h6 class="font-1">{% t our_testimonial.partners %}</h6>
                        <div class="w-100 overflow-hidden">
                            <!-- Slider main container -->
                            <div class="swiper-partner">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Slides -->
                                    <div class="swiper-slide"><img src="image/logo-ipsum-1.png" alt=""
                                            class="img-fluid"></div>
                                    <div class="swiper-slide"><img src="image/logo-ipsum-2.png" alt=""
                                            class="img-fluid"></div>
                                    <div class="swiper-slide"><img src="image/logo-ipsum-3.png" alt=""
                                            class="img-fluid"></div>
                                    <div class="swiper-slide"><img src="image/logo-ipsum-4.png" alt=""
                                            class="img-fluid"></div>
                                    <div class="swiper-slide"><img src="image/logo-ipsum-5.png" alt=""
                                            class="img-fluid"></div>
                                    <div class="swiper-slide"><img src="image/logo-ipsum-6.png" alt=""
                                            class="img-fluid"></div>
                                </div>
                            </div>
                        </div>
                        <p class="text-gray">
                            {% t our_testimonial.partners_text %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
