<section class="section background-2">
    <div class="r-container">
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col mb-3">
                <div class="row row-cols-1 row-cols-lg-2">
                    <div class="col mb-3">
                        <div
                            class="bg-dark-color d-flex flex-column text-center gap-3 justify-content-center align-items-center py-5 px-4">
                            <div style="max-width: 50px;">
                                <img src="image/icon-1.png" alt="" class="img-fluid">
                            </div>
                            <div class="text-white font-1">
                                <h5>{% t services.blocks.block1.title %}</h5>
                                <p>{% t services.blocks.block1.description %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div
                            class="bg-dark-hover border border-light border-2 d-flex flex-column text-center gap-3 justify-content-center align-items-center py-5 px-4">
                            <div style="max-width: 50px;">
                                <img src="image/icon-2.png" alt="" class="img-fluid">
                            </div>
                            <div class="font-1">
                                <h5>{% t services.blocks.block2.title %}</h5>
                                <p>{% t services.blocks.block2.description %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div
                            class="bg-dark-hover border border-light border-2 d-flex flex-column text-center gap-3 justify-content-center align-items-center py-5 px-4">
                            <div style="max-width: 50px;">
                                <img src="image/icon-3.png" alt="" class="img-fluid">
                            </div>
                            <div class="font-1">
                                <h5>{% t services.blocks.block3.title %}</h5>
                                <p>{% t services.blocks.block3.description %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div
                            class="bg-dark-hover border border-light border-2 d-flex flex-column text-center gap-3 justify-content-center align-items-center py-5 px-4">
                            <div style="max-width: 50px;">
                                <img src="image/icon-4.png" alt="" class="img-fluid">
                            </div>
                            <div class="font-1">
                                <h5>{% t services.blocks.block4.title %}</h5>
                                <p>{% t services.blocks.block4.description %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="d-flex flex-column gap-3 p-3">
                    <h5 class="accent-color font-1 fw-semibold"> {% t services.main.our_service %}</h5>
                    <h3 class="text-black font-2 fw-semibold">{% t services.main.section_subtitle %}</h3>
                    <p class="text-gray font-1">
                        {% t services.main.section_description %}
                    </p>
                    <div>
                        <a href="{% link contact.html %}" type="button"
                            class="btn rounded-0 bg-dark-color bg-accent-color-hover text-white fw-bold font-1">{% t services.main.section_button %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>