<section class="section">
    <div class="r-container">
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col mb-3">
                <div class="d-flex flex-column gap-3">
                    <h5 class="accent-color font-1 fw-semibold">{% t services.work_section.subtitle %}</h5>
                    <h3 class="text-black font-2 fw-semibold">{% t services.work_section.title %}</h3>
                    <p class="text-gray font-1">
                        {% t services.work_section.description %}
                    </p>
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row gap-3 align-items-center border-bottom py-3">
                            <h3 class="accent-color font-1">01</h3>
                            <div class="d-flex flex-column ps-5">
                                <h6 class="text-black font-1">{% t services.work_section.step1.title %}</h6>
                                <p class="text-gray">
                                    {% t services.work_section.step1.description %}
                                </p>
                            </div>
                        </div>
                        <div class="d-flex flex-row gap-3 align-items-center border-bottom py-3">
                            <h3 class="accent-color font-1">02</h3>
                            <div class="d-flex flex-column ps-5">
                                <h6 class="text-black font-1">{% t services.work_section.step2.title %}</h6>
                                <p class="text-gray">
                                    {% t services.work_section.step2.description %}
                                </p>
                            </div>
                        </div>
                        <div class="d-flex flex-row gap-3 align-items-center border-bottom py-3">
                            <h3 class="accent-color font-1">03</h3>
                            <div class="d-flex flex-column ps-5">
                                <h6 class="text-black font-1">{% t services.work_section.step3.title %}</h6>
                                <p class="text-gray">
                                    {% t services.work_section.step3.description %}
                                </p>
                            </div>
                        </div>
                        <div class="d-flex flex-row gap-3 align-items-center border-bottom py-3">
                            <h3 class="accent-color font-1">04</h3>
                            <div class="d-flex flex-column ps-5">
                                <h6 class="text-black font-1">{% t services.work_section.step4.title %}</h6>
                                <p class="text-gray">
                                    {% t services.work_section.step4.description %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="row row-cols-1 row-cols-lg-2">
                    <div class="col mt-lg-5 mb-3">
                        <div class="d-flex flex-column gap-3">
                            <div class="card bg-transparent">
                                <img src="image/dummy-img-600x400.jpg" class="img-fluid" alt="...">
                                <div class="card-body shadow text-center p-4">
                                    <h5 class="accent-color font-1">RESIDENTIAL</h5>
                                    <p class="text-gray font-2">Fusce at tellus nec erat pretium maximus eu et
                                        eros.</p>
                                </div>
                            </div>
                            <div class="card bg-transparent">
                                <img src="image/dummy-img-600x400.jpg" class="img-fluid" alt="...">
                                <div class="card-body shadow text-center p-4">
                                    <h5 class="accent-color font-1">CORPORATE</h5>
                                    <p class="text-gray font-2">Etiam dictum pellentesque libero a porttitor.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="d-flex flex-column gap-3">
                            <div class="card bg-transparent">
                                <img src="image/dummy-img-600x400.jpg" class="img-fluid" alt="...">
                                <div class="card-body shadow text-center p-4">
                                    <h5 class="accent-color font-1">RESTAURANT</h5>
                                    <p class="text-gray font-2">Vestibulum porttitor in massa feugiat blandit.
                                    </p>
                                </div>
                            </div>
                            <div class="card bg-transparent">
                                <img src="image/dummy-img-600x400.jpg" class="img-fluid" alt="...">
                                <div class="card-body shadow text-center p-4">
                                    <h5 class="accent-color font-1">COMMERCIAL</h5>
                                    <p class="text-gray font-2">Proin eget elit sed felis finibus lobortis nec
                                        ipsum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>