
<section class="section">
    <div class="r-container">
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col mb-3">
                <div class="d-flex flex-column gap-3">
                    <h5 class="accent-color font-1 fw-semibold">{% t welcome.subtitle %}</h5>
                    <h3 class="text-black font-2 fw-semibold">{% t welcome.title %}</h3>
                    <p class="text-gray font-1">
                        {% t welcome.description %}
                    </p>
                    <h5 class="font-1 fw-semibold accent-color">{% t welcome.steps.step1.title %}</h5>
                    <p class="text-gray font-1">
                        {% t welcome.steps.step1.description %}
                    </p>
                    <h5 class="font-1 fw-semibold accent-color">{% t welcome.steps.step2.title %}</h5>
                    <p class="text-gray font-1">
                        {% t welcome.steps.step2.description %}

                    </p>
                </div>
            </div>
            <div class="col mb-3">
                <div class="row row-cols-1 row-cols-lg-2">
                    <div class="col mt-5 mb-3">
                        <div class="d-flex flex-column gap-3">
                            <a href="/image/about_us/1.webp" data-fslightbox="gallery-1">
                                <img src="/image/about_us/1.webp" alt="" class="img-fluid shadow">
                            </a>
                            <a href="/image/about_us/2.webp" data-fslightbox="gallery-1">
                                <img src="/image/about_us/2.webp" alt="" class="img-fluid shadow">
                            </a>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="d-flex flex-column gap-3">
                            <a href="/image/about_us/3.webp" data-fslightbox="gallery-1">
                                <img src="/image/about_us/3.webp" alt="" class="img-fluid shadow">
                            </a>
                            <a href="/image/about_us/4.webp" data-fslightbox="gallery-1">
                                <img src="/image/about_us/4.webp" alt="" class="img-fluid shadow">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
