
<section class="section">
    <div class="r-container">
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col mb-3">
                <div class="d-flex flex-column gap-3">
                    <h5 class="accent-color font-1 fw-semibold">WELCOME TO HOUSEDECO</h5>
                    <h3 class="text-black font-2 fw-semibold">INTERIOR DESIGN</h3>
                    <p class="text-gray font-1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                        ullamcorper mattis, pulvinar dapibus leo.
                    </p>
                    <h5 class="font-1 fw-semibold accent-color">INNOVATIVE</h5>
                    <p class="text-gray font-1">
                        Nulla a interdum ipsum. Proin orci nunc, efficitur quis vehicula ac, iaculis et massa.
                        Etiam interdum, justo finibus hendrerit vulputate, augue massa porta tellus, eget
                        imperdiet nisl libero at risus.
                    </p>
                    <h5 class="font-1 fw-semibold accent-color">CREATIVE</h5>
                    <p class="text-gray font-1">
                        Nulla in eros sit amet sapien viverra pretium. Ut luctus libero ipsum, eget varius nibh
                        dapibus vitae. Sed non enim felis. Quisque eget tincidunt ligula. Quisque odio odio.
                    </p>
                </div>
            </div>
            <div class="col mb-3">
                <div class="row row-cols-1 row-cols-lg-2">
                    <div class="col mt-5 mb-3">
                        <div class="d-flex flex-column gap-3">
                            <a href="image/dummy-img-600x700.jpg" data-fslightbox="gallery-1">
                                <img src="image/dummy-img-600x700.jpg" alt="" class="img-fluid shadow">
                            </a>
                            <a href="image/dummy-img-600x700.jpg" data-fslightbox="gallery-1">
                                <img src="image/dummy-img-600x700.jpg" alt="" class="img-fluid shadow">
                            </a>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="d-flex flex-column gap-3">
                            <a href="image/dummy-img-600x700.jpg" data-fslightbox="gallery-1">
                                <img src="image/dummy-img-600x700.jpg" alt="" class="img-fluid shadow">
                            </a>
                            <a href="image/dummy-img-600x700.jpg" data-fslightbox="gallery-1">
                                <img src="image/dummy-img-600x700.jpg" alt="" class="img-fluid shadow">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>