<!DOCTYPE html>
{% if site.lang == "ua" %}
    <html lang="uk">
{% else %}
    <html lang="{{ site.lang }}">
{% endif %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo title %}
    <!-- Stylesheet -->
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="{{ "/assets/css/vendor/bootstrap.min.css" | prepend: site.baseurl_root }}">
    <link rel="stylesheet" href="{{ "/assets/css/vendor/fontawesome.css" | prepend: site.baseurl_root }}">
    <link rel="stylesheet" href="{{ "/assets/css/vendor/brands.css" | prepend: site.baseurl_root }}">
    <link rel="stylesheet" href="{{ "/assets/css/vendor/regular.css" | prepend: site.baseurl_root }}">
    <link rel="stylesheet" href="{{ "/assets/css/vendor/solid.css" | prepend: site.baseurl_root }}">
    <link rel="stylesheet" href="{{ "/assets/css/vendor/swiper-bundle.min.css" | prepend: site.baseurl_root }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl_root }}">
</head>

<body id="top">
    <script src="{{ "/assets/js/vendor/bootstrap.bundle.min.js" | prepend: site.baseurl_root }}"></script>
    <script src="{{ "/assets/js/vendor/jquery.min.js" | prepend: site.baseurl_root }}"></script>
    <script src="{{ "/assets/js/vendor/swiper-bundle.min.js" | prepend: site.baseurl_root }}"></script>
    <script src="{{ "/assets/js/script.js" | prepend: site.baseurl_root }}"></script>
    <script src="{{ "/assets/js/swiper-script.js" | prepend: site.baseurl_root }}"></script>
    <script src="{{ "/assets/js/submit-form.js" | prepend: site.baseurl_root }}"></script>
    <script src="{{ "/assets/js/vendor/isotope.pkgd.min.js" | prepend: site.baseurl_root }}"></script>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    <script src="{{ "/assets/js/vendor/fslightbox.js" | prepend: site.baseurl_root }}"></script>
</body>
</html>
