---
layout: default
---
<main>
    <section class="section position-relative" style="background-image: url(image/dummy-img-1920x900.jpg);">
        <div class="r-container">
            <div class="image-overlay"></div>
            <div class="d-flex flex-column position-relative py-5" style="z-index: 2;">
                <h2 class="text-white">PROJECT</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb fw-bold">
                        <li class="breadcrumb-item"><a href="index.html">HOME</a></li>
                        <li class="breadcrumb-item active" aria-current="page">PROJECT</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="r-container">
            <div class="d-flex flex-column align-items-center text-center gap-3">
                <h5 class="accent-color font-1 fw-semibold">OUR PROJECT</h5>
                <h4 class="text-black font-2 fw-semibold">OUR LATEST PROJECT</h4>
                <p class="text-gray font-1">
                    Cras sagittis justo enim, eu sagittis purus molestie vitae. Vestibulum porttitor in massa
                    feugiat blandit. Nunc ac viverra magna. Etiam dictum pellentesque libero a porttitor. Vestibulum
                    dapibus, metus a molestie tincidunt, tortor nisl mollis mi, vitae commodo lorem mi auctor
                    tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                </p>
                <div class="row row-cols-1 row-cols-lg-2 w-100">
                    <div class="col col-lg-4 mb-3">
                        <div class="overlay-card" style="background-image: url(image/dummy-img-600x700.jpg);">
                            <div class="overlay-body gap-3">
                                <a href="image/dummy-img-600x700.jpg" data-fslightbox="gallery-2" type="button"
                                    class="btn-outline-circle p-0">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                                <h5 class="text-white fw-semibold font-2">RESIDENTIAL DESIGN</h5>
                                <div>
                                    <a href=" " type="button" class="btn rounded-0 btn-accent-light fw-bold font-2">SEE MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-8 mb-3">
                        <div class="overlay-card" style="background-image: url(image/dummy-img-600x700.jpg);">
                            <div class="overlay-body gap-3">
                                <a href="image/dummy-img-600x700.jpg" data-fslightbox="gallery-2" type="button"
                                    class="btn-outline-circle p-0">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                                <h5 class="text-white fw-semibold font-2">RESIDENTIAL DESIGN</h5>
                                <div>
                                    <a href=" " type="button" class="btn rounded-0 btn-accent-light fw-bold font-2">SEE MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-lg-2 w-100">
                    <div class="col col-lg-8 mb-3">
                        <div class="overlay-card" style="background-image: url(image/dummy-img-600x700.jpg);">
                            <div class="overlay-body gap-3">
                                <a href="image/dummy-img-600x700.jpg" data-fslightbox="gallery-2" type="button"
                                    class="btn-outline-circle p-0">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                                <h5 class="text-white fw-semibold font-2">RESIDENTIAL DESIGN</h5>
                                <div>
                                    <a href=" " type="button" class="btn rounded-0 btn-accent-light fw-bold font-2">SEE MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4 mb-3">
                        <div class="overlay-card" style="background-image: url(image/dummy-img-600x700.jpg);">
                            <div class="overlay-body gap-3">
                                <a href="image/dummy-img-600x700.jpg" data-fslightbox="gallery-2" type="button"
                                    class="btn-outline-circle p-0">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                                <h5 class="text-white fw-semibold font-2">RESIDENTIAL DESIGN</h5>
                                <div>
                                    <a href=" " type="button" class="btn rounded-0 btn-accent-light fw-bold font-2">SEE MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>