<section class="section bg-attach-fixed position-relative"
style="background-image: url(/image/contact_now_background.jpg);">
<div class="r-container">
    <div class="image-overlay-2"></div>
    <div class="row row-col-1 row-cols-lg-1 position-relative" style="z-index: 2;">
        <div class="d-flex flex-column gap-3">
            <h5 class="accent-color font-1 fw-semibold">{% t cta.subtitle %}</h5>
            <h3 class="text-white font-2 fw-semibold">{% t cta.title %}</h3>
            <div>
                <a href="{% link contact.html %}" type="button" class="btn rounded-0 btn-accent-dark text-white">{% t contact_now %}</a>
            </div>
        </div>
    </div>
</div>
</section>