<section class="section bg-attach-fixed position-relative"
style="background-image: url(image/dummy-img-1920x900.jpg);">
<div class="r-container">
    <div class="image-overlay-2"></div>
    <div class="row row-col-1 row-cols-lg-2 position-relative" style="z-index: 2;">
        <div class="d-flex flex-column gap-3">
            <h5 class="accent-color font-1 fw-semibold">GETTING IT RIGHT</h5>
            <h3 class="text-white font-2 fw-semibold">RELENTLES PURSUIT OF PERFECTION</h3>
            <div>
                <a href=" " type="button" class="btn rounded-0 btn-accent-dark text-white">CONTACT NOW</a>
            </div>
        </div>
    </div>
</div>
</section>