<section class="section background-1">
    <div class="r-container">
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col mb-3">
                <div class="position-relative">
                    <video loop autoplay muted class="img-fluid">
                        <source src="/image/video.mp4" type="video/mp4" />
                    </video>
                      
                </div>
            </div>
            <div class="col mb-3">
                <div class="d-flex flex-column gap-3 shadow p-3">
                    <h3 class="text-black font-2 fw-semibold">{% t video.title %}</h3>
                    <p class="text-gray font-1">
                        {% t video.description %}
                    </p>
                    <div>
                        <a href="{% link history.html %}" type="button" class="btn rounded-0 bg-dark-color bg-accent-color-hover text-white">{% t video.button %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>