<section class="section">
    <div class="r-container">
        <diiv class="row row-cols-1 row-cols-lg-2">
            <div class="col mb-3">
                <div class="d-flex flex-column gap-3">
                    <h5 class="accent-color font-1 fw-semibold">{% t functionality.subtitle %}</h5>
                    <h3 class="text-black font-2 fw-semibold">{% t functionality.title %}</h3>
                    <p class="text-gray">
                        {% t functionality.description %}
                    </p>
                    <div>
                        <a href="{% link pricing.html %}" type="button"
                            class="btn rounded-0 bg-accent-color-hover bg-dark-color text-white">{% t functionality.button %}</a>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="d-flex flex-column gap-3">
                    <div class="w-100 overflow-hidden">
                        <!-- Slider main container -->
                        <div class="swiper-footer-1">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide"><img src="/image/about_us/slider/1.webp" alt=""
                                        class="img-fluid"></div>
                                <div class="swiper-slide"><img src="/image/about_us/slider/2.webp" alt=""
                                        class="img-fluid"></div>
                                <div class="swiper-slide"><img src="/image/about_us/slider/3.webp" alt=""
                                        class="img-fluid"></div>
                                <div class="swiper-slide"><img src="/image/about_us/slider/4.webp" alt=""
                                        class="img-fluid"></div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 overflow-hidden">
                        <!-- Slider main container -->
                        <div class="swiper-footer-2">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide"><img src="/image/about_us/slider/5.webp" alt=""
                                        class="img-fluid"></div>
                                <div class="swiper-slide"><img src="/image/about_us/slider/6.webp" alt=""
                                        class="img-fluid"></div>
                                <div class="swiper-slide"><img src="/image/about_us/slider/7.webp" alt=""
                                        class="img-fluid"></div>
                                <div class="swiper-slide"><img src="/image/about_us/slider/8.webp" alt=""
                                        class="img-fluid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </diiv>
    </div>
</section>
