<section class="section background-1">
    <div class="r-container">
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col mb-3">
                <div class="d-flex flex-column">
                    <div>
                        <img src="/image/about_us/how_we_do.webp" alt="" class="img-fluid">
                    </div>
                    <div class="row px-3" style="margin-top: -2rem;">
                        <div class="col mb-3">
                            <div
                                class="d-flex flex-column p-3 shadow justify-content-center align-items-center">
                                <div class="r-progress mb-4" style="--value:45">
                                    <div class="progress-container mt-2">
                                        <div class="circular-progress percentage-label">
                                            <div class="progress-value"></div>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="m-0">{% t how_we_do.charts.chart_1.title %}</h5>
                                <span class="text-gray">{% t how_we_do.charts.chart_1.description %}</span>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div
                                class="d-flex flex-column p-3 shadow justify-content-center align-items-center">
                                <div class="r-progress mb-4" style="--value:55">
                                    <div class="progress-container mt-2">
                                        <div class="circular-progress percentage-label">
                                            <div class="progress-value"></div>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="m-0">{% t how_we_do.charts.chart_2.title %}</h5>
                                <span class="text-gray">{% t how_we_do.charts.chart_2.description %}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="d-flex flex-column gap-3">
                    <h5 class="accent-color font-1 fw-semibold">{% t how_we_do.subtitle %}</h5>
                    <h3 class="text-black font-2 fw-semibold">{% t how_we_do.title %}</h3>
                    <p class="text-gray font-1">
                        {% t how_we_do.description %}
                    </p>
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row gap-3 align-items-center border-bottom py-3">
                            <h3 class="accent-color font-1">01</h3>
                            <div class="d-flex flex-column ps-5">
                                <h6 class="text-black font-1">{% t how_we_do.steps.step_1.title %}</h6>
                                <p class="text-gray">
                                    {% t how_we_do.steps.step_1.description %}
                                </p>
                            </div>
                        </div>
                        <div class="d-flex flex-row gap-3 align-items-center border-bottom py-3">
                            <h3 class="accent-color font-1">02</h3>
                            <div class="d-flex flex-column ps-5">
                                <h6 class="text-black font-1">{% t how_we_do.steps.step_2.title %}</h6>
                                <p class="text-gray">
                                    {% t how_we_do.steps.step_2.description %}
                                </p>
                            </div>
                        </div>
                        <div class="d-flex flex-row gap-3 align-items-center border-bottom py-3">
                            <h3 class="accent-color font-1">03</h3>
                            <div class="d-flex flex-column ps-5">
                                <h6 class="text-black font-1">{% t how_we_do.steps.step_3.title %}</h6>
                                <p class="text-gray">
                                    {% t how_we_do.steps.step_3.description %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
